*{
    margin:0;
   
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    transition: all 0.3s ease-in-out;
}
p,h1,h2,h3, nav, a{
     font-family: "Plus Jakarta", sans-serif;
}

#burger{
    display: none;
}

header{
max-width: 1152px;
margin: auto;
opacity: 1;
height: 112px;
padding: 15px;
display: flex;
justify-content: space-evenly;
align-items: center;
}
#burger{
    display: none;
}

header a {
    display: block;
    padding-top: 10px;
}
header a img{
    width: 50%;
    padding-top: 8px;
}
header div{
    display: flex;
    gap: 140px;
    justify-content: space-between;
    
}
header div nav ul{
    display: flex;
    gap: 40px;
    list-style:none;
    align-items: center;
}

header div a{
     font-size: 16;
    color: #475569;
}
header .btn{
    margin:0 65px;
    font-size: 16px;
    color:#FFFFFF;
    border: 1px solid;
    border-radius: 20px;
    border-color: #0F172A;
    background-color: #0F172A;
    padding: 12px 24px;
}

/* Main */
#section1{
    background-color: #F8FAFC;
    margin-top: 40px;
}

#section1 div{
    max-width: 1152px;
    margin: auto;
   display: flex;
}
#section1 div article .para1{
    width: fit-content;
    border: 1px solid;
    border-radius:20px ;
    background-color: #E0E7FF;
    padding: 12px 24px;
    color:#4338CA ;
    font-style: italic;
    padding: 8px 16px;
    border-color:#E0E7FF ;
    font-weight: 700;
    font-size: 14px;
    margin-top: 40px;

}

#section1 div h1{
    font-size: 72px;
}
#section1 span{
    color: blue;
}
#section1 div article .para2{
font-weight:400;
font-size:20px;
letter-spacing: 0%;
margin-top: 40px;
line-height: 34px;
color: #475569;

}

#section1 .div2 img{
    width: 520px;
}

#section1 .btn0{
    margin-top: 40px;
    gap: 10px;

}
#section1 .btn1{
    font-size: 16px;
    color:#FFFFFF;
    border: 1px solid;
    border-radius: 20px;
    border-color: #0F172A;
    background-color: #0F172A;
    padding: 12px 24px;
}
#section1 .btn1:hover{
    color: #0F172A;
    background-color: #FFFFFF;
}

#section1 .btn2{
    font-size: 16px;
    color: #0F172A;
    border: 1px solid;
    border-radius: 20px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    padding: 12px 24px;

}
#section1 .btn2:hover{
    color: #FFFFFF;
    background-color:#0F172A;
}
#section1 .div2{
    position: relative;
}
.Para{
    position: absolute;
    right: 0px;
   bottom:140px;
   display: flex;
   gap: 10px;
   border:  White;
   background-color: #FFFFFF;
   border-radius: 15px;
   padding: 15px;
   margin-left: 20px;
}

#section1 .div2 div{
    display: block;
}

#section1 .para111{
    text-align: center;
    color: #16A34A;
    border: #16A34A;
    border-radius:20px;
    width: 40px;
    height: 40px;
    background-color: #DCFCE7;
    align-content: center;
  font-weight: 700;

}
#section1 .para222{

color: #0F172A;
font-weight: 700;
font-style: Bold;
font-size: 12px;
letter-spacing: 0%;
vertical-align: middle;

}
#section1 .para333{
    color:#64748B ;
font-weight: 400;
font-style: Regular;
font-size: 10px;
line-height: line 15;
letter-spacing: 0%;
vertical-align: middle;

}

#section2{
    max-width: 1152px;
    margin: auto;
    opacity: 1;
    padding-right: 24px;
    padding-left: 24px;
    margin-bottom: 120px;

}
#section2 .art {
   text-align: center;
   margin-top: 60px;
margin-bottom: 60px;
}
#section2 .art h1{
font-size:36px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #0F172A;

}
#section2 .art p{
font-size: 16px;
margin-top: 10px;
text-align: center;
justify-self: center;
width: 672px;
margin-top: 20px;
color: #64748B;
font-weight: 400;
line-height: 23px;


}
#section2 div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;

}
#section2 #warning{
    color: #EA580C;
    border: 1px solid;
    border-radius: 15px;
    background-color: #FFEDD5;
    border-color: #FFEDD5;
    padding: 15px;
    margin-bottom: 40px;
}

#section2 .art00 h2{
font-weight: 800;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
color: #0F172A;
margin-top: 40px;
margin-bottom:20px ;
}

#cloud{
    color: #2563EB;
    border: 1px solid;
    border-radius: 15px;
    background-color: #DCFCE7;
    border-color: #DCFCE7;
    padding: 15px;
    margin-bottom: 40px;
}
#book{
    color: #9333EA;
    border: 1px solid;
    border-radius: 15px;
    background-color: #F3E8FF;
    border-color:#F3E8FF;
    padding: 15px;
    margin-bottom: 40px;
}

.art00 p{
    color: #475569;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;


}

/* SECTION 3 */
#section3{
    background-color: #F8FAFC;
    margin-bottom: 40px;
    padding-bottom: 40px;

}
.divvv{
    max-width: 1152px;
    margin: auto;
    display: flex;
   margin-bottom: 40px;
   gap: 40px;
}
#section3 article{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
#section3 .numero{
    text-align: center;
    color: #FFFFFF;
    border: #16A34A;
    border-radius:20px;
    width: 40px;
    height: 40px;
    background: #4F46E5;
    background: linear-gradient(90deg,rgba(79, 70, 229, 1) 0%, rgba(147, 51, 234, 1) 50%);
    align-content: center;
  font-weight: 700;
}
#section3 h2{
    color: #0F172A;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-bottom: 20px;

}
#section3 p{
font-weight: 400;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
width: 518px;
color: #475569;

}
.Para1 p{
    width: 30%;
}
#section3 h3{
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
color: #0F172A;
}

#section3 .divsec31{
    margin-top: 80px;
}
#section3 .divsec32{
    background-color: #FFFFFF;
    border: 1px solid;
    border-radius: 30px;
    border-color: #FFFFFF;
    width: 524px;
    margin-top: 80px;
    
}
#divsec321{
    background-color: #F8FAFC;
    padding-top: 50px;
    border: 1px solid;
    border-radius: 30px;
    border-color: #FFFFFF;
    width: -webkit-fill-available;
    height: 458px;
    justify-self: center;
    text-align-last: center;
    align-content: space-evenly;

}
.divsec32 div img{
    align-items: center;
    width: 50%;
    margin-bottom: 40px;
}
#section4{
    max-width: 1152px;
    margin: auto;

}
#section4 h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    line-height: 4px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #0F172A;
    margin-top: 100px;
    margin-bottom: 80px;

}
#section4 #div0{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
}

#section4 article{
    display: flex;
    margin-top: 20px;
      gap: 20px;
}
#section4 article div{
    display: block;
  
}
.sec4div p{
font-weight: 400;
font-style: Italic;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #475569;

}
.sec4div{
    border: 1px solid;
    border-radius: 24px;
    border-width: 1px;
    padding: 31.67px;
    gap: 24px;
    opacity: 1;
    background-color: #F1F5F9;
    border-color: #F1F5F9;
    line-height: 24px;
    margin-bottom: 80px;

}
.sec4div .para0000{
     text-align: center;
    color: #4338CA;
    border:#C7D2FE;
    border-radius:20px;
    width: 40px;
    height: 40px;
    background-color: #4F46E5;
    align-content: center;
    font-weight: 700;
    margin-bottom: 20px;
}

.sec4div .para0001{
     text-align: center;
    color:#BE185D;
    border:#FBCFE8;
    border-radius:20px;
    width: 40px;
    height: 40px;
    background-color: #FBCFE8;
    align-content: center;
  font-weight: 700;
}

.sec4div .para0002{
     text-align: center;
    color: #15803D;
    border: #BBF7D0;
    border-radius:20px;
    width: 40px;
    height: 40px;
    background-color:#BBF7D0;
    align-content: center;
  font-weight: 700;
}



/* Footer */
footer{
background-color:#0F172A ;
}
footer div{
max-width: 1552px;
margin: auto;
opacity: 1;
height: 112px;
padding: 15px;
display: flex;
align-items: center;
color: #94A3B8;
gap: 40px;
justify-content: space-between;
font-weight: 700;

}  
footer a {
    display: block;
    padding-top: 10px;
}
footer a img{
    width: 50%;
    padding-top: 8px;
}

footer div nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: "Plus Jakarta",sans-serif;
    align-items: center;
   

}
footer a{
    font-size: 16;
    color: #94A3B8;
}

footer p{
    color: #94A3B8;
    font-size: 16px;
}


/* RESPONSIVE TELEPHONE */

@media screen and (max-width:767px) {
      #burger{
        display: block;
        margin-top: 10px;
    }

    header div nav ul{
        display: none;
    }
    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
}
header .essai{
    display: flex;
    gap: 2px;
}
    #section1 div {
        display: grid;
    grid-template-columns: 1fr;
}
#section1 .btn1{
    text-align: center;
    padding: 40px;
}

.Para{
    display: none;
}
#section2 div{
    display: grid;
    grid-template-columns: 1fr;
}
.divvv{
    display: grid;
    grid-template-columns: 1fr;

} 
#section4 #div0{

     display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    margin-bottom: 10px;

    
}
.sec4div{
    margin-bottom: 5px;
}
}