*{
    margin:0;
    font-family: "Plus Jakarta", sans-serif;
}

a{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
a:hover{
    transition: all 0.3s ease-in-out;
}

#burger{
    display: none;
}

header{
max-width: 1152px;
margin: auto;
opacity: 1;
height: 112px;
padding: 15px;
display: flex;
justify-content: space-evenly;
align-items: center;
}

header a {
    display: block;
    padding-top: 10px;
}
header a img{
    width: 50%;
    padding-top: 8px;
}
header div{
    display: flex;
    gap: 140px;
    justify-content: space-between;
    
}
header div nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: "Plus Jakarta",sans-serif;
    align-items: center;
   

}
header div a{
     font-size: 16;
    color: #475569;
}
header .btn{
    margin:0 65px;
    font-size: 16px;
    font-family: "Plus Jakarta", sans-serif;
    color: #FFFFFF;
    border: 1px solid;
    border-radius: 20px;
    border-color: #0F172A;
    background-color: #0F172A;
    padding: 12px 24px;
}

/* Main */
#section1{
    background-color: #F8FAFC;
    margin-top: 40px;
}

#section1 div{
    max-width: 1152px;
    margin: auto;
   display: flex;
}
#section1 div article .para1{
    width: fit-content;
    border: 1px solid;
    border-radius:20px ;
    background-color: #E0E7FF;
    padding: 12px 24px;
    color:#4338CA ;
    font-style: italic;
    padding: 8px 16px;
    border-color:#E0E7FF ;
    font-weight: 700;
    font-size: 14px;

}

#section1 div h1{
    font-size: 72px;
}
#section1 span{
    color: blue;
}
#section1 div article .para2{
    font-family: "Plus Jakarta", sans-serif;
font-weight: 400;
font-size:20px;
letter-spacing: 0%;
margin-top: 40px;
line-height: 34px;
color: #475569;

}

#section1 .div2 img{
    width: 520px;
}

#section1 .btn0{
    margin-top: 40px;
    gap: 10px;

}
#section1 .btn1{
    font-size: 16px;
    font-family: "Plus Jakarta", sans-serif;
    color: #FFFFFF;
    border: 1px solid;
    border-radius: 20px;
    border-color: #0F172A;
    background-color: #0F172A;
    padding: 12px 24px;
}
#section1 .btn1:hover{
    color: #0F172A;
    background-color: #FFFFFF;
}

#section1 .btn2{
    font-size: 16px;
    font-family: "Plus Jakarta", sans-serif;
    color: #0F172A ;
    border: 1px solid;
    border-radius: 20px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    padding: 12px 24px;

}
#section1 .btn2:hover{
    color: #FFFFFF;
    background-color:#0F172A;
}
#section1 .div2{
    position: relative;
}
#section1 .Para{
    position: absolute;
    right: -45px;
   bottom:140px;
   display: flex;
   gap: 10px;
   border:  White;
   background-color: #FFFFFF;
   border-radius: 15px;
   padding: 15px;
   margin-left: 20px;
}

#section1 .div2 div{
    display: block;
}

#section1 .para111{
    text-align: center;
    color: #16A34A;
    border: #16A34A;
    border-radius:20px;
    width: 40px;
    height: 40px;
    background-color: #DCFCE7;
    align-content: center;
  font-weight: 700;

}
#section1 .para222{
color: #0F172A;
font-family: "Plus Jakarta", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 12px;
letter-spacing: 0%;
vertical-align: middle;

}
#section1 .para333{
    color:#64748B ;
font-weight: 400;
font-style: Regular;
font-size: 10px;
line-height: line 15;
letter-spacing: 0%;
vertical-align: middle;

}

#section2{
    max-width: 1152px;
    margin: auto;
    width: 1152px;
    opacity: 1;
    padding-right: 24px;
    padding-left: 24px;

}
#section2 .art {
   text-align: center;
   margin-top: 60px;
margin-bottom: 60px;
}
#section2 .art h1{
font-family: "Plus Jakarta", sans-serif;
font-style: Extrabold;
font-size: 36px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #0F172A;

}
#section2 .art p{
font-size: 16px;
margin-top: 10px;
text-align: center;
justify-self: center;
width: 672px;
margin-top: 20px;
color: #64748B;


}
#section2 div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;

}
#section2 span #warning{
    margin-bottom: 40px;
    width: 56px;
    height: 56px;
    color: #EA580C;
}



/* Footer */
footer{
background-color:#0F172A ;
}
footer div{
    max-width: 1552px;
margin: auto;
opacity: 1;
height: 112px;
padding: 15px;
display: flex;
align-items: center;
color: #94A3B8;
gap: 40px;
justify-content: space-between;
font-weight: 700;

}  
footer a {
    display: block;
    padding-top: 10px;
}
footer a img{
    width: 50%;
    padding-top: 8px;
}

footer div nav ul{
    display: flex;
    gap: 40px;
    list-style: none;
    font-family: "Plus Jakarta",sans-serif;
    align-items: center;
   

}
footer a{
    font-size: 16;
    color: #94A3B8;
}

footer p{
    color: #94A3B8;
    font-size: 16px;
}
   